
<section class="bg-LightMode-VeryLightGrayBackground dark:bg-DarkMode-VeryDarkBlueBackground pt-10">

  <div class="w-[90%] mx-auto h-auto">

    <form class="flex flex-col sm:flex-row">

      <div class="flex flex-row w-full sm:w-1/2 px-3 relative">

        <span class="material-symbols-sharp h-fit absolute top-3 left-5 dark:text-White text-md">
          search
        </span>
        <input type="text" name="search" id="search" placeholder="Search for a country"
               class="w-full py-2 pl-14 leading-8 text-left rounded  text-LightMode-VeryDarkBlueText placeholder:text-LightMode-VeryDarkBlueText placeholder:dark:text-White dark:text-White font-semibold bg-White dark:bg-DarkMode-Elements" />

      </div>

      <div class="flex justify-start sm:justify-end w-full sm:w-1/2 mt-3 sm:mt-0 px-3">

        <select name="filters" id="filters" class="py-3 px-4 rounded text-LightMode-VeryDarkBlueText dark:text-White font-semibold bg-White dark:bg-DarkMode-Elements">

          <option value="" disabled selected>Filter By Región</option>
          <option value="Africa" >África</option>
          <option value="America" >América</option>
          <option value="Asia" >Asia</option>
          <option value="Europe" >Europa</option>
          <option value="Oceania" >Oceanía</option>

        </select>

      </div>


    </form>

  </div>


  <section class="w-[90%] grid grid-cols-1 mx-auto h-auto pt-10" *ngFor="let country of countryMockup">

    <app-country-card [country]="country">

    </app-country-card>

  </section>

</section>

