<form class="flex flex-col sm:flex-row" (ngSubmit)="onSubmit($event)" [formGroup]="filtersForm">

  <div class="flex flex-row w-full sm:w-1/2 px-3 relative">

    <span class="material-symbols-outlined h-fit absolute top-3 left-5 dark:text-White text-md">
      search
    </span>
    <input autocomplete="off" formControlName="searcher" type="text" name="search" id="search" placeholder="Search for a country"
           class="w-full py-2 pl-14 leading-8 text-left rounded  text-LightMode-VeryDarkBlueText placeholder:text-LightMode-VeryDarkBlueText placeholder:dark:text-White dark:text-White font-semibold bg-White dark:bg-DarkMode-Elements" />

    <ul *ngIf="countriesFilteredFlag" class="max-h-[295px] border-[1px] text-LightMode-VeryDarkBlueText dark:text-White border-LightMode-VeryLightGrayBackground dark:border-DarkMode-VeryDarkBlueBackground absolute w-[98%] top-[50px] left-[10px] z-[1000] bg-White dark:bg-DarkMode-Elements"
        [ngClass]="{'overflow-y-scroll': countriesFiltered.length > 7 }">

      <li  (click)="navigateToCountryDeatil( country )" class="w-full py-2 px-2 border-[1px] border-LightMode-VeryLightGrayBackground dark:border-DarkMode-VeryDarkBlueBackground cursor-pointer hover:bg-LightMode-VeryLightGrayBackground dark:hover:bg-DarkMode-VeryDarkBlueBackground" *ngFor="let country of countriesFiltered">
        <strong>{{ country.cca3 }} | </strong> <span class="font-semibold pl-1"> {{ country.name.common }} </span>
      </li>
    </ul>
<!--     <ng-template #emptyData>

      <ul class="max-h-[295px] border-[1px] text-LightMode-VeryDarkBlueText dark:text-White border-LightMode-VeryLightGrayBackground dark:border-DarkMode-VeryDarkBlueBackground absolute w-[98%] top-[50px] left-[10px] z-[1000] bg-White dark:bg-DarkMode-Elements">

        <li class="w-full py-2 px-2 border-[1px] border-LightMode-VeryLightGrayBackground dark:border-DarkMode-VeryDarkBlueBackground cursor-pointer hover:bg-LightMode-VeryLightGrayBackground dark:hover:bg-DarkMode-VeryDarkBlueBackground">
          <span class="font-semibold pl-1"> No se encontró resultado para:  </span><strong> {{formControls['searcher'].value}} </strong>
        </li>
      </ul>

    </ng-template> -->
    <ul *ngIf="!countriesFilteredFlag && formControls.searcher.dirty" class="max-h-[295px] border-[1px] text-LightMode-VeryDarkBlueText dark:text-White border-LightMode-VeryLightGrayBackground dark:border-DarkMode-VeryDarkBlueBackground absolute w-[98%] top-[50px] left-[10px] z-[1000] bg-White dark:bg-DarkMode-Elements">

      <li class="w-full py-2 px-2 border-[1px] border-LightMode-VeryLightGrayBackground dark:border-DarkMode-VeryDarkBlueBackground cursor-pointer hover:bg-LightMode-VeryLightGrayBackground dark:hover:bg-DarkMode-VeryDarkBlueBackground">
        <span class="font-semibold pl-1"> No se encontró resultado para:  </span><strong> {{formControls['searcher'].value}} </strong>
      </li>
    </ul>

  </div>

  <div class="flex justify-start sm:justify-end w-full sm:w-1/2 mt-3 sm:mt-0 px-3">

    <select formControlName="filters" name="filters" id="filters" class="py-3 px-4 rounded text-LightMode-VeryDarkBlueText dark:text-White font-semibold bg-White dark:bg-DarkMode-Elements">

      <option value="" disabled selected>Filter By Región</option>
      <option *ngFor="let option of regionOptions" [value]="option.value">{{ option.label }}</option>

    </select>

  </div>


</form>
